body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    align-items: center;
    margin-top: 8%;
    width: 50%;
}

h3 {
    color: grey;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}